
<div class="container-fluid">
  <form class="MyForm" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="col-6 mb-2">
        <label for="TbNome" class="form-label">Leitor:</label>
        <div class="input-group MyTam">
          <input required type="text" class="form-control MyTam" id="TbNome" value="{{tbLeitorValue}}" formControlName="leitor">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button"  data-bs-toggle="modal" data-bs-target="#modalLeitor">
              <img src="../assets/search.png"  width="20" height="20">
            </button>
          </div>

        </div>
      </div>

      <div class="col-6 mb-2">
        <label for="TbLivro" class="form-label" >Livro:</label>
        <div class="input-group MyTam">
          <input required type="text" class="form-control MyTam" id="TbLivro" value="{{ tbLivroValue }}" formControlName="livro">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary " type="button" data-bs-toggle="modal" data-bs-target="#modalLivro" >
              <img src="../assets/search.png"  width="20" height="20">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 mb-2">
        <label for="TbDataemprestimo" class="form-label">Data Empréstimo:</label>
        <input required type="date" class="form-control MyTam" id="TbDataemprestimo" value="{{TbDataEmprestimo}}" formControlName="dataEmprestimo">
      </div>

      <div class="col-6 mb-2">
        <label for="TbDataDevolucao" class="form-label ">Data Devolução</label>
        <input required type="date" class="form-control MyTam" id="TbDataDevolucao" value="{{TbDataDevolucao}}" formControlName="dataDevolucao">
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-2" id="BtnSubmit">Salvar</button>
    <button class="btn btn-danger mb-2 " type="button" style="margin-left: 20px;" id="BtnDevolver" (click)="DevolverOnClik()">Devolver</button>
  </form>

  <div class="row">
    <div class="MyForm" style="width: 70vw; margin-left: 15px;">
      <gui-grid
      [source]="source"
      [columns]="columns"
      [paging]="paging"
      [searching]="searching"
      [rowSelection]="rowSelection"
      (selectedRows)="onSelectedRowsEmprestimo($event)"
      [localization]="Language"
      ></gui-grid>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="modalLeitor" tabindex="-1" aria-labelledby="modalLeitorLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLeitorLabel">Procurar Leitor</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <gui-grid  [source]="sourceLeitor"
          [columns]="columnsLeitor"
          [paging]="paging"
          [searching]="searching"
          [rowSelection]="rowSelection"
          (selectedRows)="onSelectedRowsLeitor($event)"
          [localization]="Language"></gui-grid>
      <br>
      <br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalLivro" tabindex="-1" aria-labelledby="modalLivroLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLivroLabel">Procurar Livro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <gui-grid  [source]="sourceLivro"
        [columns]="columnsLivro"
        [paging]="paging"
        [searching]="searching"
        [rowSelection]="rowSelection"
        (selectedRows)="onSelectedRowsLivro($event)"
        [localization]="Language"></gui-grid>
        ()
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


