<main>
  <form class="MyForm">
    <div class="mb-2">
      <label for="TbNome" class="form-label">Nome:</label>
      <input type="text" class="form-control MyTam" id="TbNome">
    </div>
    <div class="mb-2">
      <label for="TbSenha" class="form-label">Senha:</label>
      <input type="password" class="form-control MyTam" id="TbSenha">
    </div>
    <div class="mb-2">
      <label for="TbEmail" class="form-label">Email:</label>
      <input type="Email" class="form-control MyTam" id="TbEmail">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="Masc">
      <label class="form-check-label" for="Masc">Sexo Masculino:</label>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="Fem">
      <label class="form-check-label" for="Fem">Sexo Femenino:</label>
    </div>
    <div class="mb-2">
      <label for="TbNome" class="form-label">Data de Nascimento:</label>
      <input type="text" class="form-control MyTam" id="TbNome" placeholder="__/__/____">
    </div>
    <div class="mb-2">
      <label for="TbNome" class="form-label">Cpf:</label>
      <input type="tel" class="form-control MyTam" id="TbNome" placeholder="___.___.___-__" maxlength="11">
    </div>
    <div class="mb-2">
      <label for="TbNome" class="form-label">Rg:</label>
      <input type="tel" class="form-control MyTam" id="TbNome" placeholder="_-___.___.__" maxlength="11">
    </div>


  </form>

  <form class="MyForm">
    <div class="mb-2">
      <label for="TbTel" class="form-label">Telefone:</label>
      <input type="tel" class="form-control MyTam" id="TbTel" placeholder="(__) _____-____">
    </div>
    <div class="mb-2">
      <label for="TbCell" class="form-label">Celular:</label>
      <input type="tel" class="form-control MyTam" id="TbCell" placeholder="(__) _____-____">
    </div>
    <div class="mb-2">
      <label for="TbRua" class="form-label e">Rua:</label>
      <input type="text" class="form-control MyTam" id="TbRua">
    </div>
    <div class="mb-2">
      <label for="TbNum" class="form-label e">Número:</label>
      <input type="number" class="form-control MyTam" id="TbNum">
    </div>
    <div class="mb-2">
      <label for="TbBairro" class="form-label e">Bairro:</label>
      <input type="text" class="form-control MyTam" id="TbBairro">
    </div>
    <div class="mb-2">
      <label for="TbCidade" class="form-label e">Cidade:</label>
      <input type="text" class="form-control MyTam" id="TbCidade">
    </div>
    <div class="mb-2">
      <label for="TbCep" class="form-label e">Cep:</label>
      <input type="text" class="form-control MyTam " id="TbCep">
    </div>
  </form>
</main>
