<main>
  <form class="MyForm">
    <div class="mb-2">
      <label for="TbDescricao" class="form-label">Descrição:</label>
      <textarea type="text" class="form-control MyTam" id="TbDescricao" rows="4" style="resize: none"></textarea>
    </div>
    <div class="mb-2">
      <label for="TbLocal" class="form-label">Local:</label>
      <input class="form-control" list="datalistOptions" id="TbLocal" placeholder="Digite para Pesquisar...">
      <datalist id="datalistOptions">
        <option value="San Francisco">
        <option value="New York">
        <option value="Seattle">
        <option value="Los Angeles">
        <option value="Chicago">
        </datalist>
    </div>
  </form>
</main>

