 <div class="MyForm">

   <form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
     <div class="row">
       <div class="col-6 mb-2">
         <label for="TbTitulo" class="form-label" >Nome:</label>
         <input type="text" class="form-control MyTam" id="TbTitulo" formControlName="nomeColecao">
       </div>
       <div class="mb-2 col-6">
        <label for="TbAno" class="form-label" >Ano:</label>
        <input type="number" class="form-control MyTam" id="TbNum" placeholder="1900" formControlName="anoLancamento">
      </div>
     </div>
     <div class="row">
      <div class="mb-2 col-6">
        <label for="TbAutor" class="form-label">Autor:</label>
        <input class="form-control" list="DatalistAutor" id="TbAutor" placeholder="Digite para Pesquisar..." formControlName="autor">
        <datalist id="DatalistAutor">
        </datalist>
      </div>
      <div class="mb-2 col-6">
        <label for="TbEditora" class="form-label">Editora:</label>
        <input class="form-control" list="datalistEditora" id="TbEditora" placeholder="Digite para Pesquisar..." formControlName="editora">
        <datalist  id="datalistEditora">
        </datalist>
       </div>
     </div>
      <button type="submit" class="btn btn-primary mb-2">Salvar</button>
      
    </form>
    <div class=" row">
      <gui-grid [source]="source"
          [columns]="columns"
          [paging]="paging"
          [searching]="searching"
          >
      </gui-grid>
    </div>
 </div>



