/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.SideBar{
  display: flex;
  min-height: 94vh;
  text-align: center;
  top: 0;
}
.SideLink{
  display: block;
  padding: 0.4rem 0.2rem;
  border: 0.1rem 0.1rem;
  color: #212529;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a:hover{
  color: #0091ff;
}

.MyForm {
  padding-left: 3rem;
  padding-top: 1rem;
}
.MyTam {
  width: 20vw;
}


.Disabled {
  background-color: #eeeeee;
}
.bootstrap-select .hidden{
  display: none;
}
.Inline{
  display: inline-block !important;
}

.TamInline{
  width: 9.5vw;
  max-width: 158px;
  display: inline-block;
}
.MyMargin{
  margin-left: 1vw;
}
