<div class="container">
  <form class="MyForm" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 mb-2">
        <label for="TbNome" class="form-label">Nome:</label>
        <input type="text" class="form-control MyTam" id="TbNome"  formControlName="nome">
      </div>
      <div class="col-4 mb-2">
        <label for="TbCpf" class="form-label TamInline">Cpf:</label>
        <label for="TbNome" class="form-label  MyMargin">Rg:</label>
        <div class="mb-2">
          <input type="text" class="form-control TamInline" mask="000.000.000-00" id="TbCpf" placeholder="___.___.___-__" formControlName="cpf">
          <input type="text" class="form-control TamInline MyMargin" id="TbTbNome" mask="00.000.000-0" placeholder="__.___.___-_" formControlName="rg">
        </div>
      </div>
      <div class="col-4 mb-2">
        <label for="TbEmail" class="form-label">Email:</label>
        <input type="Email" class="form-control MyTam" id="TbEmail" formControlName="email">
      </div>
      <div class="col-4 mb-2">
        <button type="submit" class="btn btn-primary mb-2" [disabled]="!formulario.valid">Pesquisar</button>
      </div>
    </div>
    <div class="row">

        <gui-grid [source]="source"
        [columns]="columns"
        [paging]="paging"
        [searching]="searching"
        [localization]="Language"
        [rowSelection]="rowSelection"
    ></gui-grid>
    </div>
  </form>
</div>

