<main>
  <div class="SideBar">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
      <a routerLink="adminpage" class="link-dark text-decoration-none">
        <span class="fs-4 SideLink" >Administração</span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="emprestimo" id="AEmprestimo" class="nav-link SideLink">
            Fazer Empréstimo
          </a>
        </li>
        <hr/>
        <li>
          <a routerLink="consultarleitor" class="nav-link SideLink " id="AConLeitor">
            Consultar Leitor
          </a>
        </li>
        <li>
          <a routerLink="consultarlivro" class="nav-link SideLink" id="AConlivro">
            Consultar Livro
          </a>
        </li>
        <hr>
        <li>
          <a routerLink="cadleitor" class="nav-link SideLink" id="ACadleitor">
            Cadastrar Leitor
          </a>
        </li>
        <li>
          <a routerLink="cadlivro" class="nav-link SideLink" id="ACadlivro">
            Cadastrar Livro
          </a>
        </li>
        <li>
          <a routerLink="cadcolecao" class="nav-link SideLink" id="AcadColecao">
            Cadastrar Coleção
          </a>
        </li>
        <li>
          <a routerLink="cadautor" class="nav-link SideLink" id="ACadAutor">
            Cadastrar Autor
          </a>
        </li>
        <li>
          <a routerLink="cadeditora" class="nav-link SideLink" id="ACadEditora">
            Cadastrar Editora
          </a>
        </li>
        <li>
          <a routerLink="cadsecao" class="nav-link SideLink " id="AcadSecao">
            Cadastrar Seção
          </a>
        </li>
        <li>
          <a routerLink="cadLocal" class="nav-link SideLink" id="AcadLocal">
            Cadastrar Local
          </a>
        </li>
      </ul>
      <hr>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>

