@import "~bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";


.SideBar{
  display: flex;
  min-height: 94vh;
  text-align: center;
  top: 0;
}
.SideLink{
  display: block;
  padding: 0.4rem 0.2rem;
  border: 0.1rem 0.1rem;
  color: #212529;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

a:hover{
  color: #0091ff;
}

main{
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}
